





/* for toggle behavior */




/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/






a, .end, i, .qua{
  text-align: center;
}




ul[id="sidenav"]>li{
  margin: 10px;
}

ul[id="sidenav"]>li>a{
  font-size: x-large;
}

ul[id="sidenav"]{
  margin-top: 10%;
}
