<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Hello, {{name}}</h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul id="sidenav" class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a href="userhome" class="nav-link text-white font-weight-bold">
                      <i class="fa fa-home" style="font-size:24px; color:red"></i>
                      Home
                  </a>
          </li>
          <li class="nav-item text-dark">
            <a href="movies" class="nav-link text-white font-italic">
                      <i class="fa fa-film" style="font-size:24px; color: red;"></i>
                      Watch movies
                  </a>
          </li>
          <li class="nav-item">
            <a href="songs" class="nav-link text-white font-italic">
                      <i class="fa fa-music" style="font-size:24px; color: red;"></i>
                      Listen to songs
                  </a>
          </li>
          <li class="nav-item">
            <a href="series" class="nav-link text-white font-italic">
                      <i class="fa fa-tv" style="font-size:24px; color: red;"></i>
                      Watch Series
                  </a>
          </li>
          <li class="nav-item">
            <a (click)="logout()" class="nav-link text-white font-italic">
                      <i class="fa fa-sign-out" style="font-size:24px; color: red;"></i>
                      Logout
                  </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<main class="site-wrapper">
  <div class="pt-table desktop-768">
    <div
      class="pt-tablecell page-home relative"
      style="
        background-image: url(../../../assets/hp.jpg);
        background-position: center;
        background-size: cover;
      "
    >
     

      <div class="container">
        <div class="row">
          <div
            class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8"
          >
            <div class="page-title home text-center">
              <span class="heading-page"><i>Welcome to PopCorn </i><br><i>{{name}}</i></span>
            </div>

            <div class="hexagon-menu clear">
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                <a class="hex-content" href="profile">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-id-badge"></i>
                    </span>
                    <span class="title">Profile</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content" href="movies">
                  <span class="hex-content-inner" >
                    <span class="icon">
                      <i class="fa fa-bullseye"></i>
                    </span>
                    <span class="title">Movies</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item" >
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content" href="songs">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-music "></i>
                    </span>
                    <span class="title">Songs</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content" href="series">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-braille"></i>
                    </span>
                    <span class="title">Series</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
