
<body>

    
<div class="container" >
<div class="card" style="width: 18rem;">
    <div class="col-7 imgbx"><img src="../../assets/robert.jfif" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h2><strong class="card-title">Card title</strong></h2>
      <p class="card-text"> bulk of the card's content.</p>
      <div class="content">
        <button class="btn" ><i class="fa fa-play"></i></button>&nbsp;&nbsp;
        <button class="btn" ><i class="fa fa-heart"></i></button><br>
      </div>
      
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="col-7 imgbx"><img src="../../assets/rpj.jpg" class="card-img-top img-fluid" alt="..."></div>
    <div class="card-body">
      <h2><strong class="card-title">Card title</strong></h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="content">
        <button class="btn" ><i class="fa fa-play"></i></button>&nbsp;&nbsp;
        <button class="btn" ><i class="fa fa-heart"></i></button><br>
      </div>
      
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="col-7 imgbx"><img src="../../assets/dsk.jpg"  class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h2><strong class="card-title">Card title</strong></h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="content">
        <button class="btn" ><i class="fa fa-play"></i></button>&nbsp;&nbsp;
        <button class="btn" ><i class="fa fa-heart"></i></button><br>
      </div>
      
    </div>
  </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="col-7 imgbx"><img src="../../assets/dsk.jpg"  class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h2><strong class="card-title">Card title</strong></h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="content">
        <button class="btn" ><i class="fa fa-play"></i></button>&nbsp;&nbsp;
        <button class="btn" ><i class="fa fa-heart"></i></button><br>
      </div>
      
    </div>
  </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="col-7 imgbx"><img src="../../assets/83.jpg"  class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h2><strong class="card-title">Card title</strong></h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="content">
        <button class="btn" ><i class="fa fa-play"></i></button>&nbsp;&nbsp;
        <button class="btn" ><i class="fa fa-heart"></i></button><br>
      </div>
      
    </div>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="col-7 imgbx"><img src="../../assets/KGF.jpg"  class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h2><strong class="card-title">Card title</strong></h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="content">
        <button class="btn" ><i class="fa fa-play"></i></button>&nbsp;&nbsp;
        <button class="btn" ><i class="fa fa-heart"></i></button><br>
      </div>
      
    </div>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="col-7 imgbx"><img src="../../assets/KANTARA2.jpg"  class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h2><strong class="card-title">Card title</strong></h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="content">
        <button class="btn" ><i class="fa fa-play"></i></button>&nbsp;&nbsp;
        <button class="btn" ><i class="fa fa-heart"></i></button><br>
      </div>
      
    </div>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="col-7 imgbx"><img src="../../assets/VED.jpg"  class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h2><strong class="card-title">Card title</strong></h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="content">
        <button class="btn" ><i class="fa fa-play"></i></button>&nbsp;&nbsp;
        <button class="btn" ><i class="fa fa-heart"></i></button><br>
      </div>
      
    </div>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="col-7 imgbx"><img src="../../assets/ig.jpg"  class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h2><strong class="card-title">Card title</strong></h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="content">
        <button class="btn" ><i class="fa fa-play"></i></button>&nbsp;&nbsp;
        <button class="btn" ><i class="fa fa-heart"></i></button><br>
      </div>
      
    </div>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="col-7 imgbx"><img src="../../assets/coldplay.jpg"  class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h2><strong class="card-title">Card title</strong></h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="content">
        <button class="btn" ><i class="fa fa-play"></i></button>&nbsp;&nbsp;
        <button class="btn" ><i class="fa fa-heart"></i></button><br>
      </div>
      
    </div>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="col-7 imgbx"><img src="../../assets/mg2.jpg"  class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h2><strong class="card-title">Card title</strong></h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="content">
        <button class="btn" ><i class="fa fa-play"></i></button>&nbsp;&nbsp;
        <button class="btn" ><i class="fa fa-heart"></i></button><br>
      </div>
      
    </div>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="col-7 imgbx"><img src="../../assets/skyfall.jpg"  class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h2><strong class="card-title">Card title</strong></h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="content">
        <button class="btn" ><i class="fa fa-play"></i></button>&nbsp;&nbsp;
        <button class="btn" ><i class="fa fa-heart"></i></button><br>
      </div>
      
    </div>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="col-7 imgbx"><img src="../../assets/naatu.jpg"  class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h2><strong class="card-title">Card title</strong></h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="content">
        <button class="btn" ><i class="fa fa-play"></i></button>&nbsp;&nbsp;
        <button class="btn" ><i class="fa fa-heart"></i></button><br>
      </div>
      
    </div>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="col-7 imgbx"><img src="../../assets/Khairiyat.jpg"  class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h2><strong class="card-title">Card title</strong></h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="content">
        <button class="btn" ><i class="fa fa-play"></i></button>&nbsp;&nbsp;
        <button class="btn" ><i class="fa fa-heart"></i></button><br>
      </div>
      
    </div>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="col-7 imgbx"><img src="../../assets/faded.jpg"  class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h2><strong class="card-title">Card title</strong></h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="content">
        <button class="btn" ><i class="fa fa-play"></i></button>&nbsp;&nbsp;
        <button class="btn" ><i class="fa fa-heart"></i></button><br>
      </div>
      
    </div>
  </div>
  </div>

  <!--Movies-->
  <div class="card" style="width: 18rem;">
    <div class="col-7 imgbx"><img src="../../assets/batman_movie.jpg"  class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h2><strong class="card-title">Card title</strong></h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="content">
        <button class="btn" ><i class="fa fa-play"></i></button>&nbsp;&nbsp;
        <button class="btn" ><i class="fa fa-heart"></i></button><br>
      </div>
      
    </div>
  </div>
  </div>



 
 
  
 
</div>

</body>


