mat-grid-tile {
    background: lightblue;
  }

  .main-body{
    background-color: black;
  }

#playermovies{
  padding-top:2%
}
  .container{
    background-color: rgb(11, 11, 11);
    position: relative;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    gap: 40px;
    max-width: unset;
    border: 50px solid black;
  }

  .example-card {
    max-width: 400px;
   
  }

  .but{
    display: inline-flex;
  

  }
  
  .content{
    padding: 10px 15px;
    text-align: center;
}
  .content .btn{
    border-radius: 30px;
    color: #fff !important;
    background: #107afd; 
}

.imgbx{
   
    width: 100%;
    height: 100%;
   
}

.card-body{ 
    max-width: 100%;
    object-fit: cover;
}
.card-text{
    min-height: 100px;
    max-height: 100px;
}

/*video{
    padding:2%;
    background-color: #E50914;
    width: 100%;
    border : 6px solid black;
 
}*/

video{
 padding-top: 2%;
  display: block;
  width: 50%;
  background-color: black;
  margin-top: 50px black;
  margin-left: auto;
  margin-right: auto;
}
.card{
    background-color:gray;
}

.card-title,.card-text{
  color: #fff;
}

img{
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.containerh{
  background-color: rgb(11, 11, 11);
  position: relative;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
  gap: 40px;
  max-width: unset;
 
}
.search{
  background-color: black;
 border:20px;
}


/* sidebar css */
ul[id="sidenav"]>li{
  margin: 10px;
}
        
ul[id="sidenav"]>li>a{
  font-size: x-large;
}
        
ul[id="sidenav"]{
  margin-top: 10%;
}
a, .end, i, .qua{
  text-align: center;
}